BOOKS>NEW

<%= form_for(@book, url: admin_books_path) do |f| %>
  <p>Title: <%= f.text_field(:title) %></p>
  <p>Author: <%= f.text_field(:author) %></p>
  <p>Upload Date: <%= f.date_select(:upload_date, start_year: 1980, end_year: Time.now.year, :order => [:month, :day, :year]) %></p>
  <p>Price: <%= f.text_field(:price) %></p>
  <p><%= f.submit('Save') %></p>
<% end %>