ADMIN>BOOKS>SHOW

<h1>Title: <%= @book.title %></h1>
<h3>Author: <%= @book.author %></h3>
<h3>Upload Date: <%= @book.upload_date %></h3>
<h3>Price: <%= @book.price %></h3>
<%= link_to 'Index', admin_books_path %>