<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to('Sign Up!', admin_signup_path) %>
<<<<<<< HEAD

=======
<%= link_to('Login', login_path) %>

<%= render partial: 'layouts/flash' %>
>>>>>>> 530fe19a5a6668e8c67c5ee855889608c3b299b4
<%= yield %>

</body>
</html>