<!DOCTYPE html>
<html>
<head>
  <title>Bookstore</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to('Sign Up!', admin_signup_path) %>
<%= link_to('Login', admin_login_path) %>

<div class="flash-messages"></div>
  <p><%= alert %></p>
  <p><%= notice %></p>
<%= yield %>

</body>
</html>